<div class="container-sm rounded p-2">
    <form [formGroup]="myForm">
        <div class="mb-4">
            <label class="form-label">Faculty Name : </label>
            <input type="text" class="form-control" formControlName="FacultyName" />
        </div>
        <div class="mb-4">
            <label class="form-label"> Designation : </label>
            <input type="text" class="form-control" formControlName="FacultyDesignation" />
        </div>
        <div class="mb-4">
            <label class="form-label"> Qualification : </label>
            <input type="text" class="form-control" formControlName="FacultyQualification" />
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-6">
                <label class="form-label"> Experience : </label>
                <input type="text" class="form-control" formControlName="FacultyExperience" />
            </div>
            <div class="col-6">
                <label class="form-label"> Working Since : </label>
                <input type="text" class="form-control" formControlName="FacultyWorkingSince" />
            </div>
        </div>
        <div class="mb-4">
            <label class="form-label"> Email Address : </label>
            <input type="email" class="form-control" formControlName="FacultyEmail" />
        </div>
        <div class="row justify-content-center mb-4">
            <div class="col-7">
                <label class="form-label"> Mobile Number : </label>
                <input type="number" class="form-control" formControlName="FacultyMobileNumber" />
            </div>
            <div class="col-5">
                <label class="form-label"> Seating : </label>
                <input type="text" class="form-control" formControlName="FacultySeating" />
            </div>
        </div>
        <div class="mb-4">
            <label class="form-label">Area of Specialization : </label>
            <input type="text" class="form-control" formControlName="FacultyAreaSpecialization" />
        </div>
        <div class="mb-4">
            <label class="form-label">Subjects Taughts : </label>
            <input type="text" class="form-control" formControlName="FacultySubjectsTaught" />
        </div>
        <div class="mb-4">
            <label class="form-label">Image URL : </label>
            <input type="text" class="form-control" formControlName="FacultyImage" />
        </div>
        <div class="my-5 text-center">
            <input type="button" class="btn btn-primary" style="font-weight: 500;" [value]="buttonValue" (click)="insertFaculty()">
        </div>
    </form>
</div>